<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>webpack</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/main.css">
</head>
<body style="opacity: 1; min-height: 662px">
<header style="position: relative; z-index: 3">
    <div class="container main_menu">
        <div class="logo logo_left">
            <a href="/" class="logo_link"
               style="background: url('/dist/public/images/opac32.svg'); background-size: cover; background-position: center">
                <!--<img alt="логотип " src="/dist/public/images/log2.svg">-->
            </a>
        </div>
        <div class="menu menu_right">
            <ul class="menu_links">
                <li class="menu_links_items"><a  title="главная страница" href="/">Главная</a></li>
                <li class="menu_links_items"><a title="просмотреть работы" href="portfolio.html">Портфолио</a></li>
                <li class="menu_links_items"><a title="почитать обо мне" href="/about.html">Обо мне</a></li>
                <li class="menu_links_items"><a title="мои контакты" href="/contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div class="mobile_menu_trigger">
            <div id="mob_trig" class="div_trigger"></div>
        </div>
    </div>
    <div class="mobile_menu">
        <ul class="menu_links">
            <li class="menu_links_items"><a class="" title="главная страница" href="/">Главная</a></li>
            <li class="menu_links_items"><a title="просмотреть работы" href="/portfolio.html">Портфолио</a></li>
            <li class="menu_links_items"><a title="почитать обо мне" href="/about.html">Резюме</a></li>
            <li class="menu_links_items"><a title="мои контакты" href="/contacts.html">Контакты</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="about">
        <div class="about_image_cont" style="background-image: url('/dist/public/images/226.jpg')"></div>
        <div class="about_content">
            <div class="container">
                <div class="about_title">
                    <h5>Добро пожаловать!</h5>
                </div>
                <div class="about_main_title"><h1 class="">My Name Is Howard Wade</h1></div>
                <div class="about_text">
                    <p style="text-align: justify" class="about_text_wr">
                        Award winning interdisciplinary Designer & Photographer. Currently pursuing a perfect blend of
                        style and function for a wide range of interactive graphic design. For the past 6 years I’ve
                        helped global companies, organizations and start-ups reach business goals with user focused,
                        interactive design.
                        <br>
                        <br>
                        I enjoy bringing clarity to complex problems with a people first approach. As graphic designer,
                        I fled from a traditional path and explored my creativity, trough trying my hands on various
                        techniques and software. Software is more than just a tool, and I try to dig deep into it.
                        Today, I knack for critical thinking, empathy and creativity to create viable and impactful
                        solutions using these technologies.
                    </p>
                </div>

            </div>
        </div>
    </div>
</main>
<script defer src="/dist/main.js"></script>
</body>
</html>