<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>webpack</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <link rel="stylesheet" href="/dist/css/main.css">
    <script src="../../dist/main.js"></script>
</head>
<body style="opacity: 1; min-height: 662px">
<header style="position: relative; z-index: 3">
    <div class="container main_menu">
        <div class="logo logo_left">
            <a href="/" class="logo_link"
               style="background-image: url('/dist/public/images/opac32.svg');background-size: cover;background-position: -19px -44px">
                <!--<img alt="логотип " src="/dist/public/images/logo.png">-->
            </a>
        </div>
        <div class="menu menu_right">
            <ul class="menu_links">
                <li class="menu_links_items"><a  title="главная страница" href="/">Главная</a></li>
                <li class="menu_links_items"><a title="просмотреть работы" href="portfolio.html">Портфолио</a></li>
                <li class="menu_links_items"><a title="почитать обо мне" href="/about.html">Обо мне</a></li>
                <li class="menu_links_items"><a title="мои контакты" href="/contacts.html">Контакты</a></li>
                <!--<li id="check_lang">-->
                    <!--<img src="/dist/public/images/flag.png">-->
                    <!--<div class="check_flag">-->
                        <!--<a href="/">русский</a>-->
                        <!--<a href="/">english</a>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="mobile_menu_trigger">
            <div id="mob_trig" class="div_trigger"></div>
        </div>
    </div>
    <div class="mobile_menu">
        <ul class="menu_links">
            <li class="menu_links_items"><a class="" title="главная страница" href="/">Главная</a></li>
            <li class="menu_links_items"><a title="просмотреть работы" href="/portfolio.html">Портфолио</a></li>
            <li class="menu_links_items"><a title="почитать обо мне" href="/about.html">Резюме</a></li>
            <li class="menu_links_items"><a title="мои контакты" href="/contacts.html">Контакты</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="container">
        <div class="works_wr">
            <div class="works_title">
                <h5 class="works_title_text">PArt Studio</h5>
            </div>
            <div class="works_content">
                <h1 class="works_content_title">Мои последние проекты</h1>
            </div>
            <div class="works_cat">
                <ul class="works_cat_ul">
                    <li class="works_cat_li"><a href="">Интерьер</a></li>
                    <li class="works_cat_li"><a href="">Роспись</a></li>
                    <li class="works_cat_li"><a href="">Мел</a></li>
                    <li class="works_cat_li"><a href="">Граффити</a></li>
                    <li class="works_cat_li"><a href="">Живопись</a></li>
                </ul>
            </div>
            <div class="portfolio_wr">
                <div class="portfolio_content">
                    <div class="portfolio_img">
                        <span class="portfolio_overlay"></span>
                        <img alt="" title="" src="/dist/public/images/2-min.jpg">
                    </div>
                    <div class="portfolio_description">
                        <h2 class="portfolio_title"><a href="" title="">This is the Work of my Life</a></h2>
                        <p class="portfolio_text">Fusce sagittis at diam vitae accumsan. Nunc ullamcorp vehicula sem
                            ultrices blandit. Aliquam urna nisi, feugiat sed feugiat in, hendrerit id nibh</p>
                    </div>
                </div>
                <div class="portfolio_content">
                    <div class="portfolio_img">
                        <span class="portfolio_overlay"></span>
                        <img alt="" title="" src="/dist/public/images/4-min.jpg">
                    </div>
                    <div class="portfolio_description">
                        <h2 class="portfolio_title"><a href="" title="">This is the Work of my Life</a></h2>
                        <p class="portfolio_text">Fusce sagittis at diam vitae accumsan. Nunc ullamcorp vehicula sem
                            ultrices blandit. Aliquam urna nisi, feugiat sed feugiat in, hendrerit id nibh</p>

                    </div>
                </div>
                <div class="portfolio_content">
                    <div class="portfolio_img">
                        <span class="portfolio_overlay"></span>
                        <img alt="" title="" src="/dist/public/images/6-min.jpg">
                    </div>
                    <div class="portfolio_description">
                        <h2 class="portfolio_title"><a href="" title="">This is the Work of my Life</a></h2>
                        <p class="portfolio_text">Fusce sagittis at diam vitae accumsan. Nunc ullamcorp vehicula sem
                        </p>
                    </div>
                </div>
                <div class="portfolio_content">
                    <div class="portfolio_img">
                        <span class="portfolio_overlay"></span>
                        <img alt="" title="" src="/dist/public/images/6-min.jpg">
                    </div>
                    <div class="portfolio_description">
                        <h2 class="portfolio_title"><a href="" title="">This is the Work of my Life</a></h2>
                        <p class="portfolio_text">Fusce sagittis at diam vitae accumsan. Nunc ullamcorp vehicula sem
                        </p>
                    </div>
                </div>
            </div>
            <div class="portfolio_btn_load">
                <a id="btn_load" href="#" title="загрузить еще">Показать еще</a>
            </div>
        </div>

        <div class="last_project_title"><h2>Последние проекты</h2></div>
        <div class="last_projects_box">
            <div class="last_project">
                <a href="" title=""><img src="/dist/public/images/2-min.jpg"></a>
            </div>
            <div class="last_project">
                <a href="" title=""><img src="/dist/public/images/3-min.jpg"></a>
            </div>
            <div class="last_project">
                <a href="" title=""><img src="/dist/public/images/4-min.jpg"></a>
            </div>
            <div class="last_project">
                <a href="" title=""><img src="/dist/public/images/5-min.jpg"></a>
            </div>
            <div class="last_project">
                <a href="" title=""><img src="/dist/public/images/2-min.jpg"></a>
            </div>
            <div class="last_project">
                <a href="" title=""><img src="/dist/public/images/2-min.jpg"></a>
            </div>

        </div>
        <div class="back_to_top_cont">
            <div id="up_top" class="back_to_top">Верх</div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <div class="footer_content">
            <span class="foot_phone">+1 (212) 633-9600</span>
            <span class="foot_address">20 Jay Street , Suite 404, Brooklyn, NY 11201</span>
            <span class="foot_mail">info@company.com</span>
        </div>
    </div>
</footer>
<script defer src="/dist/main.js"></script>
</body>
</html>